# **Importando bibliotecas**

In [ ]:
import numpy as np
import pandas as pd
import string
import warnings
import requests
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')

# **Importando tabela do Fundamentus**

In [ ]:
url = 'https://www.fundamentus.com.br/resultado.php'
header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"}
r = requests.get(url, headers=header)
df = pd.read_html(r.text, decimal=',', thousands='.')[0]
display(df)

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","4,10%",0.0,-2.908630e+08,0.00,"37,74%"
1,PORP4,2.40,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-2,08%",0.0,2.239900e+07,0.00,"13,66%"
2,CLAN3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-1,05%",0.0,1.012240e+09,0.00,"-63,96%"
3,MNSA4,0.47,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.0,-9.105000e+06,-6.52,"-41,11%"
4,CSTB3,150.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"40,85%","28,98%",2.60,"22,40%","20,11%",0.0,8.420670e+09,0.14,"31,91%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
983,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.0,1.031720e+10,0.00,"10,58%"
984,CALI4,50.00,4770.51,39.82,2.493,"0,86%",0.803,1.62,51.65,-2.75,...,76.25,"4,83%","0,05%",3.58,"1,79%","0,83%",0.0,4.672000e+06,26.54,"107,87%"
985,BBTG12,3.15,29554.00,24180.60,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","81,82%",0.0,1.100000e+04,0.00,"0,00%"
986,AERI3,1.94,29729.10,1.54,0.618,"1,07%",0.445,1.13,8.40,-8.25,...,10.18,"7,35%","0,00%",2.49,"9,66%","0,01%",9226800.0,9.673940e+08,1.71,"0,00%"

# **Ajustando decimais de porcentagem**

In [ ]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

# **Filtrando de acordo com os parametros do Joel Greenblatt adaptadas ao mercado brasileiro.**

In [ ]:
df = df[df['Liq.2meses'] > 200000]
df = df[df['EV/EBIT'] > 0]
df = df[df['ROIC'] > 0]
display(df)

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
11,AESB3,10.02,-1473.96,1.44,2.130,0.0088,0.397,2.02,11.77,-1.07,...,10.37,0.1810,0.0537,3.63,0.0448,-0.0010,21254700.0,4.175170e+09,1.89,1.3024
14,MGLU3,4.87,-549.45,3.00,0.930,0.0000,0.953,4.21,117.02,-9.40,...,30.22,0.0079,-0.0017,1.64,0.0111,-0.0055,846699000.0,1.093780e+10,0.63,0.3005
15,EMBR3,13.59,-472.46,0.70,0.493,0.0000,0.198,0.70,6.06,-1.32,...,6.50,0.0813,-0.0007,2.03,0.0442,-0.0015,87984100.0,1.435570e+10,1.15,0.0883
25,ELMD3,12.52,-184.68,2.38,2.997,0.0000,0.899,-11.84,22.26,-2.28,...,13.73,0.1347,-0.0128,0.67,0.0462,-0.0129,1984820.0,7.359700e+08,0.91,1.1207
28,RAIL3,21.82,-110.37,2.74,4.965,0.0009,0.899,9.45,24.37,-1.95,...,13.96,0.2037,-0.0456,1.85,0.0435,-0.0249,262574000.0,1.474590e+10,1.14,0.0642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,LJQQ3,6.06,404.48,2.18,0.502,0.0203,0.401,1.28,11.14,-2.55,...,5.23,0.0451,0.0012,1.91,0.0482,0.0054,17457700.0,5.203690e+08,0.65,0.1463
976,YDUQ3,16.07,458.39,1.58,1.110,0.0079,0.503,4.65,9.74,-1.24,...,7.40,0.1139,0.0025,1.64,0.0621,0.0035,95517500.0,3.137430e+09,1.80,0.0632
978,BRIT3,3.56,505.14,1.19,1.885,0.0003,0.566,13.03,12.79,-1.83,...,6.64,0.1474,0.0037,1.26,0.0536,0.0024,1671130.0,1.346480e+09,0.80,0.0000
981,LWSA3,11.10,961.81,2.22,6.668,0.0000,1.438,5.80,349.68,13.25,...,45.03,0.0191,0.0069,2.16,0.0061,0.0023,91463400.0,2.959030e+09,0.03,0.5164
986,AERI3,1.94,29729.10,1.54,0.618,0.0107,0.445,1.13,8.40,-8.25,...,10.18,0.0735,0.0000,2.49,0.0966,0.0001,9226800.0,9.673940e+08,1.71,0.0000

# **Criando o ranking conforme o posicionamento de cada ativo pressuposto pela Magic Formula**

In [ ]:
#Criando o dataframe
ranking = pd.DataFrame()

#Criando um range que vai até o número de linhas existentes na DF
ranking['POS'] = range(1, 235)

#Colocando a coluna EV/EBIT de maneira crescente
ranking['EV/EBIT'] = df.sort_values(by=['EV/EBIT'])['Papel'][:235].values

#Colocando a coluna ROIC de maneira decrescente
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:235].values

#Colocando a coluna Div.Yield de maneira descrescente 
ranking['Div.Yield'] = df.sort_values(by=['Div.Yield'], ascending=False)['Papel'][:235].values

#Mostrando como ficou o ranking
display(ranking)

     POS EV/EBIT    ROIC Div.Yield
0      1   PSSA3  BRBI11     DESK3
1      2   LVTC3   INEP4     SYNE3
2      3   INEP4   INEP3     PETR4
3      4   INEP3   UNIP6     PETR3
4      5   GOAU3   UNIP3     BRPR3
..   ...     ...     ...       ...
229  230   CEAB3   GFSA3     LOGN3
230  231   MGLU3   LWSA3     ZAMP3
231  232   LWSA3   CEAB3     INEP3
232  233   RCSL4   RCSL3     FHER3
233  234   RCSL3   RCSL4     AMAR3

[234 rows x 4 columns]

In [ ]:
a = ranking.pivot_table(columns='EV/EBIT', values='POS')
b = ranking.pivot_table(columns='ROIC', values='POS')
c = ranking.pivot_table(columns='Div.Yield', values='POS')
t = pd.concat([a, b, c])
rank = t.dropna(axis=1).sum()
display(rank.sort_values()[:30])

SYNE3      22
GOAU3      32
GOAU4      35
PETR4      37
PETR3      41
GGBR3      41
UNIP3      44
BRKM5      48
TASA3      50
BRKM3      51
GGBR4      52
UNIP6      53
TASA4      54
VALE3      70
CMIN3      77
AURA33     79
ENAT3      87
ETER3      91
FESA4      91
PSSA3      96
BRBI11    100
USIM5     101
JBSS3     108
USIM3     110
LEVE3     116
WIZS3     126
KEPL3     134
AGRO3     135
RANI3     136
CSNA3     139
dtype: int64

# **Vamos definir quem são nossos ativos**

In [ ]:
ativos = rank.sort_values()[:30]

# **Define a URL padrão de onde queremos coletar os setores**

In [ ]:
url = 'https://statusinvest.com.br/acoes/'

# **Criando um USER_AGENTS aleatorio para não dar erro 403 no Requests**

In [ ]:
from random import choice

USER_AGENTS = [
    'Mozilla/5.0 (CrKey armv7l 1.5.16041) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.0 Safari/537.36',
    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/'
    '42.0.2311.135 Safari/537.36 Edge/12.246',
    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/'
    '9.0.2 Safari/601.3.9',
    'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:15.0) Gecko/20100101 Firefox/15.0.1',
    'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.111 Safari/537.36'
]

def get_random_user_agent():
    """ Randoms user agent to prevent "python" user agent
    :return: Random user agent from USER_AGENTS
    :rtype: str
    """
    return choice(USER_AGENTS)

# **Vamos armazenar os setores coletados em uma lista**

In [ ]:
setores = []

In [ ]:
# Como a URL é padrao, vamos fazer varias requests, uma pra cada ativo 
for ativo in ativos.index:

  # fornece a malandragem no headers da requisição
  response = requests.get(url+ativo, headers={'User-Agent': get_random_user_agent()})

  # a resposta do site é um html, o BeautifulSoup consegue fazer o parsing desse html
  parser = BeautifulSoup(response.content, "html.parser")

  # Como eu te mostrei, aquele bloco esta numa div contendo a classe "info pr-md-2"
  data = parser.find(class_='info pr-md-2')

  # data é o html que contem a div que contem o texto do setor
  # Como eu te mostrei também, a classe dessa div se chama "value"
  # pode ser que ela não exista, depois vc confere pra coletar manualmente ou
  # inspecionar o site em busca da classe que contem o valo especifico pra esse ativo
  if data is not None:
    value = data.find(class_='value')
    # armazena na lista o par que confere o ativo -> setor
    setores.append((ativo, value.text))

In [ ]:
# Vamos visualizar os ativos e setores num dataframe
ativos_df = pd.DataFrame(setores, columns=['ATIVO', 'SETOR'])

In [ ]:
ativos_df

     ATIVO                            SETOR
0    SYNE3              Financeiro e Outros
1    GOAU3                Materiais Básicos
2    GOAU4                Materiais Básicos
3    PETR4  Petróleo. Gás e Biocombustíveis
4    PETR3  Petróleo. Gás e Biocombustíveis
5    GGBR3                Materiais Básicos
6    UNIP3                Materiais Básicos
7    BRKM5                Materiais Básicos
8    TASA3                 Bens Industriais
9    BRKM3                Materiais Básicos
10   GGBR4                Materiais Básicos
11   UNIP6                Materiais Básicos
12   TASA4                 Bens Industriais
13   VALE3                Materiais Básicos
14   CMIN3                Materiais Básicos
15  AURA33                Materiais Básicos
16   ENAT3  Petróleo. Gás e Biocombustíveis
17   ETER3                 Bens Industriais
18   FESA4                Materiais Básicos
19   PSSA3              Financeiro e Outros
20  BRBI11              Financeiro e Outros
21   USIM5                Materiais Básicos
22   JBSS3              Consumo não Cíclico
23   USIM3                Materiais Básicos
24   LEVE3                  Consumo Cíclico
25   WIZS3              Financeiro e Outros
26   KEPL3                 Bens Industriais
27   AGRO3              Consumo não Cíclico
28   RANI3                Materiais Básicos
29   CSNA3                Materiais Básicos