# **Instalando bibliotecas**

In [4]:
#!pip install fundamentus
#!pip install yfinance

# **Importando bibliotecas**

In [5]:
import pandas as pd
import fundamentus
import numpy as np
import yfinance as yf

# **Filtrando as informações conforme a formula de Greenblatt**

## Regras necessárias:

- `EV/EBIT > 0` (Não pode ser negativo)
- `ROIC > 0` (Não pode ser negativo)
- `Dividend Yield > 0` (Adaptação ao mercado brasileiro)
- `Liquidez > R$: 200.000,00` (Média de liquidez ao nível Brasil)

In [6]:
#Exibindo o dataframe conforme o site Fundamentus
df = fundamentus.get_resultado()

#Filtrando conforme aplicado pela formula
filtro = df[(df.evebit > 0) & (df.roic > 0) & (df.dy > 0) & (df.liq2m > 200000)]

# **Rankeando as informações**

In [7]:
#Criando o dataframe
df = pd.DataFrame()

#Criando um range que vá de 1 até o número de ativos existentes no filtro
df['POS'] = range(1, 194)

#EV/EBIT - do menor para o maior
df['EV/EBIT'] = filtro.sort_values(by=['evebit']).index[:194].values

#ROIC & DY - do maior para o menor
df['ROIC'] = filtro.sort_values(by=['roic'], ascending=False).index[:194].values
df['DY'] = filtro.sort_values(by=['dy'], ascending=False).index[:194].values

# **Criando uma tabela com a somatória conforme as posições**

In [8]:
a = df.pivot_table(columns='EV/EBIT', values='POS')
b = df.pivot_table(columns='ROIC', values='POS')
c = df.pivot_table(columns='DY', values='POS')
t = pd.concat([a, b])
rank = t.dropna(axis=1).sum()
dataframe = pd.DataFrame(rank.sort_values()[:30])

# **Definindo uma function que busque os setores das empresas do dataframe**

In [9]:
def GetSetor(NomeDoAtivo):
  setor = yf.Ticker(NomeDoAtivo)
  return setor.info['sector']

# **Buscando os dados de setores dos ativos**

In [10]:
tickers = dataframe.index + '.SA'
DicSetor = {}
for tick in tickers:
  try:
    print('Coletando Dados no Setor do Ativo:', tick)
    DicSetor[tick] = GetSetor(tick)
  except:
    print('Informação não encontrada no Ativo:', tick)
    DicSetor[tick] = 'N.A'

Coletando Dados no Setor do Ativo: PSSA3.SA
Coletando Dados no Setor do Ativo: BRBI11.SA
Informação não encontrada no Ativo: BRBI11.SA
Coletando Dados no Setor do Ativo: SYNE3.SA
Coletando Dados no Setor do Ativo: TASA3.SA
Coletando Dados no Setor do Ativo: TASA4.SA
Coletando Dados no Setor do Ativo: GOAU3.SA
Coletando Dados no Setor do Ativo: PETR4.SA
Coletando Dados no Setor do Ativo: GOAU4.SA
Coletando Dados no Setor do Ativo: PETR3.SA
Coletando Dados no Setor do Ativo: UNIP3.SA
Coletando Dados no Setor do Ativo: GGBR3.SA
Coletando Dados no Setor do Ativo: FESA4.SA
Coletando Dados no Setor do Ativo: GGBR4.SA
Coletando Dados no Setor do Ativo: UNIP6.SA
Coletando Dados no Setor do Ativo: KEPL3.SA
Coletando Dados no Setor do Ativo: VALE3.SA
Coletando Dados no Setor do Ativo: PLPL3.SA
Coletando Dados no Setor do Ativo: AURA33.SA
Coletando Dados no Setor do Ativo: WIZS3.SA
Coletando Dados no Setor do Ativo: BRKM5.SA
Coletando Dados no Setor do Ativo: LVTC3.SA
Coletando Dados no Setor do Ativo: CAMB3.SA
Coletando Dados no Setor do Ativo: BRKM3.SA
Coletando Dados no Setor do Ativo: USIM5.SA
Coletando Dados no Setor do Ativo: CMIN3.SA
Coletando Dados no Setor do Ativo: USIM3.SA
Coletando Dados no Setor do Ativo: ETER3.SA
Coletando Dados no Setor do Ativo: ENAT3.SA
Coletando Dados no Setor do Ativo: CCRO3.SA
Coletando Dados no Setor do Ativo: RANI3.SA

In [13]:
AtivosSetorDF = pd.DataFrame.from_dict(DicSetor, orient='index').reset_index()
AtivosSetorDF.columns = ['Papel', 'Setor']

AtivosSetorDF

        Papel                   Setor
0    PSSA3.SA      Financial Services
1   BRBI11.SA                     N.A
2    SYNE3.SA             Real Estate
3    TASA3.SA             Industrials
4    TASA4.SA             Industrials
5    GOAU3.SA         Basic Materials
6    PETR4.SA                  Energy
7    GOAU4.SA         Basic Materials
8    PETR3.SA                  Energy
9    UNIP3.SA         Basic Materials
10   GGBR3.SA         Basic Materials
11   FESA4.SA         Basic Materials
12   GGBR4.SA         Basic Materials
13   UNIP6.SA         Basic Materials
14   KEPL3.SA             Industrials
15   VALE3.SA         Basic Materials
16   PLPL3.SA             Real Estate
17  AURA33.SA         Basic Materials
18   WIZS3.SA      Financial Services
19   BRKM5.SA         Basic Materials
20   LVTC3.SA  Communication Services
21   CAMB3.SA       Consumer Cyclical
22   BRKM3.SA         Basic Materials
23   USIM5.SA         Basic Materials
24   CMIN3.SA         Basic Materials
25   USIM3.SA         Basic Materials
26   ETER3.SA             Industrials
27   ENAT3.SA                  Energy
28   CCRO3.SA             Industrials
29   RANI3.SA       Consumer Cyclical